#links {
    background-color: transparent;

    height: calc(100vh - 100px);
    width: 100vw;
    padding: 50px 0;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: all 1000ms ease;
    z-index: 4;

    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 50px;

    pointer-events: none;
    overflow: auto;
}

@media (min-width: 800px) {
    #links {
        align-content: center;
    }
}

body.toggled #links {
    opacity: 1;
    display: flex;
    visibility: visible;
}

#links-title {
    color: white;
    font-family: "Raleway", sans-serif;
    width: 100vw;
    text-align: center;
    font-size: 5em;
}

@media (max-width: 600px) {
    #links-title {
        font-size: 11vw;
    }
}

.card {
    width: 220px;
    height: 120px;
    border-radius: 5px;
    padding: 1.8rem;
    position: relative;

    background: var(--g5);
    font-family: "Raleway", sans-serif;
    transition: all 0.8s ease-out;

    cursor: pointer;
    pointer-events: all;
    user-select: none;
}

.card::after {
    position: absolute;
    content: '';
    top: calc(-1 * 2px);
    left: calc(-1 * 2px);
    z-index: -1;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    background: linear-gradient(60deg,
            var(--g4),
            var(--g1),
            var(--g2),
            var(--g4),
            var(--g3));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * 2px);
    animation: moveGradient 4s reverse infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}


body.toggled>.card {
    opacity: 1;
    display: flex;
    visibility: visible;
}

.card-details {
    color: white;
    height: 100%;
    gap: 15px;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: 2px solid var(--g4);
    background-color: var(--g5);
    color: var(--g4);
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

/*Text*/
.text-body {
    color: var(--g3);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

.text-title>i {
    margin-right: 10px;
    color: var(--g4);
}

/*Hover*/
.card:hover {
    border-color: var(--g4);
    box-shadow: 0 4px 18px 0 var(--g5);
    background-color: var(--g5);
}

.card:hover .card-details {
    color: var(--g4)
}

.card:hover .text-body {
    color: var(--g3)
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.card-button:hover {
    background-color: var(--g4);
    color: var(--g5);
}