#links {
    background-color: transparent;

    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: all 1000ms ease;
    z-index: 4;

    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 50px;

    pointer-events: none;
    overflow: auto;
}

@media (min-width: 800px) {
    #links {
        align-content: center;
        padding: 100px;
        height: calc(100vh - 200px);
        width: calc(100vw - 200px);
    }
}

@media (min-width: 1200px) {
    #links {
        align-content: center;
        padding: 300px;
        height: calc(100vh - 600px);
        width: calc(100vw - 600px);
    }
}

body.toggled #links {
    opacity: 1;
    display: flex;
    visibility: visible;
}

.card {
    width: 220px;
    height: 120px;
    border-radius: 5px;
    padding: 1.8rem;
    position: relative;

    background: transparent;
    border: 2px solid var(--g3);
    font-family: "Raleway", sans-serif;
    transition: all 0.8s ease-out;

    cursor: pointer;
    pointer-events: all;
    user-select: none;
}


body.toggled>.card {
    opacity: 1;
    display: flex;
    visibility: visible;
}

.card-details {
    color: var(--g3);
    height: 100%;
    gap: 15px;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: 2px solid var(--g1);
    background-color: var(--g5);
    color: var(--g1);
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

/*Text*/
.text-body {
    color: var(--g3);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

.text-title>i {
    margin-right: 10px;
}

/*Hover*/
.card:hover {
    border-color: var(--g1);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--g2);
}

.card:hover .card-details {
    color: var(--g1)
}

.card:hover .text-body {
    color: var(--g3)
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.card-button:hover {
    background-color: var(--g1);
    color: var(--g5);
}